[Desktop Entry]
Name=Network Configurator
Comment=Configure and monitor your network connections
Exec=dhcpcd-gtk
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
